.wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -50%;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
    background: #2a2a2a;
}

.wrapper:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(to bottom, #FFFFFF35, transparent);
}

.root {
    position: relative;
    width: 100%;
    height: 100%;
}

.root::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background: #2a2a2a;
    border-radius: 50%;
}

.image {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.spinning {
    animation: spin 5s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}